<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Query Orders By Total</title>
</head>

<body>
	<h1>display orders greater than or equal to</h1>
	<form action="http://localhost:8080/adminTotalQuery" method="post">
		<label><strong>order total:</strong> <input type="text" name="total"></label>
		<br>
		<br>
		<input type="submit" value="Submit Request"/>
	</form>
	<hr>
	<a href="../">HOME</a>
</body>

</html>
