<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Serving Menu</title>
</head>

<body>
	<h1>Options</h1>
	<h2>New Order</h2>
	<ul>
		<li>To view today's prices select <a href="/menu">Menu</a></li>
		<li>To submit a new order <a href="/order">Order</a></li>
		<li>To review order / print check select <a href="/reviewOrder">Review Order</a></li>
	</ul>
	<hr>
	<h2>Admin</h2>
	<ul>
		<li>To select based on order total <a href="/adminTotalQuery">Select by Order Size</a></li>
		<li>To remove all orders for the end of day <a href="/adminRemove">Remove All Orders</a></li>
	</ul>
	<hr>
</body>

</html>
