<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Lookup Order</title>
</head>

<body>
	<h1>Lookup Order</h1>
	<form action="http://localhost:8080/reviewOrder" method="post">
		<fieldset>
			<label><strong>name:</strong> <input type="text" name="name"></label>
			<br>
			<br>
			<p> or </p>
			<br>
			<br>
			<label><strong>table number:</strong> <input type="text" name="tableNum"></label>
		</fieldset>

		<br>
		<input type="reset" />
		<input type="submit" value="Submit Request"/>
	</form>
	<hr>
	<a href="../">HOME</a>
</body>

</html>
